.background  {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #c33;
}


/*************** HEAD *************/
.head {
    position: absolute;
    margin: auto;
    width: 600px;
    height: 600px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    border-radius: 50%;
}

/*************** EARS *************/
.ear-left {
    position: absolute;
    width: 300px;
    height: 400px;
    top: -25%;
    left: -25%;
    background-color: #000;
    border-radius: 50%;
    transform:rotate(20deg);
}

.ear-right {
    position: absolute;
    width: 300px;
    height: 400px;
    top: -25%;
    right: -25%;
    background-color: #000;
    border-radius: 50%;
    transform: rotate(-20deg);
}

/*************** EYES *************/
.face-eye {
    position: absolute;
    margin: auto;
    width: 300px;
    height: 400px;
    top: -20%;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 50%;
}

.face-eye.left {
    left: -30%;
}
.face-eye.right {
    left: 30%;
}

.eye {
    position: absolute;
    margin: auto;
    width: 80px;
    height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: solid #000;
    border-width: 3px 7px;
    border-radius: 50%;
    z-index: 8;
}

.eye.left {
    left: 23%;
    transform: rotate(-5deg);
}

.eye.right {
    left: -23%;
    transform: rotate(5deg);
}

.pupil {
    position: absolute;
    margin: auto;
    width: 40px;
    height: 65px;
    right: 0;
    bottom: -3px;
    left: 0;
    background-color: #000;
    border-radius: 50%;
}

/*************** CHEEKS *************/
.cheek {
    position: absolute;
    margin: auto;
    width: 180px;
    height: 310px;
    top: 55%;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 50%;
    border: solid black;
    border-width: 5px 1px;
}

.cheek.left{
    left: -55%;
    transform: rotate(-50deg);
    border-right: 0;
}

.cheek.right {
    left: 55%;
    transform: rotate(50deg);
    border-left: 0;
}

.mouse-corner {
    position: absolute;
    margin: auto;
    width: 60px;
    height: 30px;
    top: 45%;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border-top: solid black;
    border-width: 5px 1px;
    z-index: 50;
}

.mouse-corner.left {
    left: -70%;
    transform: rotate(-44deg);
}

.mouse-corner.right {
    left: 75%;
    transform: rotate(44deg);
}

/*************** CHIN *************/
.chin {
    position: absolute;
    margin: auto;
    width: 260px;
    height: 260px;
    top: 75%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    border-bottom: 4px solid #000;
}
/*************** NOSE / MOUTH *************/
.top-nose {
    position: absolute;
    margin: auto;
    width: 170px;
    height: 60px;
    top: 22%;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 7px solid #000;
    border-radius: 50%;
    z-index: 8;

}

.nosepmouth {
    position: absolute;
    margin: auto;
    width: 240px;
    height: 350px;
    top: 55%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    border-bottom: 4px solid #000;
}

.nose {
    position: absolute;
    margin: auto;
    width: 170px;
    height: 100px;
    top: 34%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    border-radius: 50%;
    z-index: 8;
}

.smile {
    position: absolute;
    margin: auto;
    width: 470px;
    height: 160px;
    top: 37%;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border-bottom: 5px solid black;
    left: 15px;
    z-index: 7;
    background: white;
}

.mouth-wrapper {
    position: absolute;
    overflow: hidden;
    border-width: 5px 10px;
    border-style: solid;
    width: 195px;
    height: 200px;
    left: 33%;
    bottom: 0;
    background-color: #000;
    border-radius: 50%;
    z-index: 7;
    transform: rotate(20deg);
}

.tongue1 {
    position: absolute;
    margin: auto;
    width: 70px;
    height: 60px;
    top: 90%;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    left: -27px;
    background: red;
    z-index: 10;
    border: solid black;
    border-width: 5px 1px;
}

.tongue2 {
    position: absolute;
    margin: auto;
    width: 100px;
    height: 90px;
    top: 80%;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    left: 93px;
    background: red;

}